.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 10%;
}

// .imageStyle {
//   width: 500px;
//   height: 800px;
//   position: relative;
//   img {
//     width: 100%;
//     object-fit: cover;
//   }
// }

.paragraphText {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}