.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
}

.hero .img {
  width: 50%;
  aspect-ratio: 1;
}

.footer {
  height: 50vh;
  align-items: flex-start;
}

.footer a {
  font-size: 4vw;
  color: #fff;
}

.main {
  width: 100vw;
  height: 150vh;
  flex-direction: column;
}

.row {
  position: relative;
  width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.card {
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: 0.75em;
  overflow: hidden;
  will-change: transform;
}

.cardLeft {
  transform: translateX(0);
}

.cardRight {
  transform: translateX(0);
}

.mainContent {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  transform: scale(0);
}

.copy {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  margin: 0.5em 0;
  width: max-content;
  height: 28px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.lineText {
  position: relative;
  font-size: 24px;
  transform: translateY(30px);
  color: white;
}

.btn button {
  position: relative;
  padding: 1em 2em;
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8em;
  background: none;
  outline: none;
  transform: translateY(30px);
  opacity: 0;
}

@media (max-width: 900px) {
  .card {
    width: 50%;
    height: 240px;
  }
}