.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 3em;
}
.pre-loader {
  width: 200%;
  height: 100%;
  padding: 2em;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5em;
  overflow: hidden;
  z-index: 5;
  background-color: #000;
}

.pre-loader p {
  width: max-content;
  text-transform: uppercase;
  font-family: "Timmons NY", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: white;
}

.counterWrapper {
  margin-bottom: 20px;
}
// .counter {
//   height: 100px;
//   display: flex;
//   font-family: "Timmons NY", sans-serif;
//   font-size: 100px;
//   font-weight: 400;
//   line-height: 150px;
//   clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
//   color: white;
// }

.digit-1,
.digit-2,
.digit-3,
.digit-4 {
  position: relative;
  top: -15px;
  height: 100px;
  overflow: hidden;
}

.offset {
  position: relative;
  right: -7.5px;
}

.progress-bar {
  position: relative;
  top: -15px;
  height: 4px;
  // background: #000;
  background: white;
}

.num {
  height: 100px;
}

@media (max-width: 900px) {
  .pre-loader {
    padding: 1em;
    gap: 0.5em;
  }

  // .counter {
  //   font-size: 70px;
  // }

  .pre-loader p {
    font-size: 40px;
    line-height: 64px;
  }

  // .offset {
  //   position: relative;
  //   right: -5px;
  // }
}